body {
  background-color: #282c34;
}
.App {
  text-align: center;
}

.Header {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Game {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  padding: 10px;
  font-weight:bolder;
  background-color:lightgray;
}
.Play-Button {
  color: rgb(83, 97, 46);


}
.blurb {
  margin-bottom: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
